n8n-workflow.json
{"name":"Instagram Ads Automation","nodes":[{"parameters":{},"id":"1","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[250,300]},{"parameters":{"authentication":"oAuth2","resource":"page","operation":"get","pageId":"{{ $json.instagram_page_id }}"},"id":"2","name":"Get Instagram Page Info","type":"n8n-nodes-base.instagram","typeVersion":1,"position":[450,300]},{"parameters":{"resource":"post","operation":"create","pageId":"={{ $node[\"Get Instagram Page Info\"].json.id }}","caption":"{{ $json.ad_caption }}","imageUrl":"{{ $json.image_url }}"},"id":"3","name":"Create Ad Post","type":"n8n-nodes-base.instagram","typeVersion":1,"position":[650,300]},{"parameters":{"resource":"post","operation":"getAnalytics","postId":"={{ $node[\"Create Ad Post\"].json.id }}"},"id":"4","name":"Get Post Analytics","type":"n8n-nodes-base.instagram","typeVersion":1,"position":[850,300]},{"parameters":{},"id":"5","name":"End","type":"n8n-nodes-base.end","typeVersion":1,"position":[1050,300]}],"connections":{"Start":{"main":[[{"node":"Get Instagram Page Info","type":"main","index":0}]]},"Get Instagram Page Info":{"main":[[{"node":"Create Ad Post","type":"main","index":0}]]},"Create Ad Post":{"main":[[{"node":"Get Post Analytics","type":"main","index":0}]]},"Get Post Analytics":{"main":[[{"node":"End","type":"main","index":0}]]}}}